{% extends 'pages/base.html' %}
{% block title %}
<title>Category</title>
{% endblock %}
{% block content %} {% load static %}
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb" style="justify-content: flex-end;">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Category</li>
                </ol>
            </nav>
            <div class="container input-container col-sm-8 col-12">
                <h3>Category</h3>

 <form action="" method="POST" enctype="multipart/form-data"class="boot-form column">
                                        {% csrf_token %}
<!--                    <div class="form-group">-->
<!--                        <label for="catagory">Category Name</label>-->
<!--                        <input type="text" class="form-control" id="category" name="categoryname" value="{{form.category_name}}">-->
<!--                    </div>-->
                    <div class="form-group" >
                        <label for="name">Category Name</label>
<!--                        <input type="text" class="form-control" id="name" name="productname">-->
                        {{form.category_name}}
                        <p  style="color: red;">{{form.category_name.errors.as_text}}</p>

                    </div>
                    <div class="form-group">
                        <label>Category Image (370*270)</label>
                        <div class="custom-file">
<!--{{form.product_image.url}}-->
                            <input type="file" class="custom-file-input" id="id_category_image" name="category_image">
                            <label class="custom-file-label" for="id_category_image">Choose file</label>
                         {% if cat.category_image %}<img src="{{cat.category_image.url}}"width="25px" height="25px">{%else%}None{%endif%}
                          </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="container table-container col-12">

                <h3>Table</h3>
                <div class="export-btn-group row">
                    <button type="button" class="btn btn-primary export-btn mb-3">Copy</button>
                    <button type="button" class="btn btn-primary export-btn mb-3">CSV</button>
                    <button type="button" class="btn btn-primary export-btn mb-3">EXCEL</button>
                    <button type="button" class="btn btn-primary export-btn mb-3">PDF</button>
                    <button type="button" class="btn btn-primary export-btn mb-3">PRINT</button>
                    <form class="table-search">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text table-Search-btn">Search</span>
                          </div>
                          <input type="text" class="form-control">
                        </div>
                      </form>
                </div>
                <div class="table-responsive">
                <table class="table boot-table" id="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Si No</th>
                            <th scope="col">Category</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in query %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{x.category_name}}</td>
                            <td><a href="{% url 'categoryupdate' %}?id={{x.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                            <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                            {% endfor %}
                        <!-- <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                        </tr> -->
                    </tbody>
                </table>

                 <script>    
                $(document).ready(function(){
                    $("li.custom-menu a.category").addClass("active");
                    })
                </script>
                <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function() {
                  var fileName = $(this).val().split("\\").pop();
                  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
                </script>
                <script type="text/javascript">
                    $(document).ready( function () {
                    $('#table').DataTable();
                } );
                </script>
        {% endblock %}