{% extends 'pages/base.html' %}
{% block title %}
<title>ATK BUILD MART | ADMIN - Brands Update</title>
{% endblock %}
{% block content %} {% load static %}
 <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb" style="justify-content: flex-end;">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Brands</li>
                </ol>
            </nav>
            <div class="container input-container col-sm-8 col-12">
                <h3>Brands</h3>


                <form action="{% url 'brandviewupdate' %}?id={{form.id}}" method="POST" class="boot-form column">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="brandname">Brand Name</label>
                        <input type="text" class="form-control" id="brandname" name="brandname" value="{{form.brand_name}}">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="container table-container col-12">
                <div class="table-responsive">
                <h3>Table</h3>
                <div class="export-btn-group row">
                    <button type="button" class="btn btn-primary export-btn mb-2">Copy</button>
                    <button type="button" class="btn btn-primary export-btn mb-2">CSV</button>
                    <button type="button" class="btn btn-primary export-btn mb-2">EXCEL</button>
                    <button type="button" class="btn btn-primary export-btn mb-2">PDF</button>
                    <button type="button" class="btn btn-primary export-btn mb-2">PRINT</button>
                    <!-- <form class="table-search">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <span class="input-group-text table-Search-btn">Search</span>
                          </div>
                          <input type="text" class="form-control">
                        </div>
                      </form> -->
                </div>
                
                <table class="table boot-table" id="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Si No</th>
                            <th scope="col">Brands</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in query %}
                        <tr>

                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{x.brand_name}}</td>
                            <td><a href="{% url 'brandupdate' %}?id={{x.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                            <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                            {% endfor %}
                        <!-- <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td></i><i class="fa fa-trash" aria-hidden="true"></i></td>
                        </tr> -->
                    </tbody>
                </table>

                <script>    
                $(document).ready(function(){
                    $("li.custom-menu a.brands").addClass("active");
                    })
                </script>
                <script type="text/javascript">
                    $(document).ready( function () {
                    $('#table').DataTable();
                } );
                </script>
{% endblock %}
