{% extends 'pages/base.html' %}
{% block title %}
    <title>Products</title>
{% endblock %}
{% block content %} {% load static %}
 <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb" style="justify-content: flex-end;">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </nav>
            <div class="container input-container col-sm-8 col-12">
                <h3>Products</h3>
                <form action="" method="POST" enctype="multipart/form-data" class="boot-form column">
                    {% csrf_token %}
                    {% if messages %}
                    <div class="col-lg-12 color03 ">
                        <!-- <ul class="messages align-content"> -->
                            {% for message in messages %}
                                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                            {% endfor %}
                        <!-- </ul> -->
                    </div>
                {% endif %}
<!--                    {{form.as_p}}-->
                    <div class="row">
                    <div class="form-group col-4" >
                        <label for="name">Product Name</label>
<!--                        <input type="text" class="form-control" id="name" name="productname">-->
                        {{form.product_name}}
                        <p  style="color: red;">{{form.product_name.errors.as_text}}</p>

                    </div>
                    <div class="form-group col-4">
                        <label>Category</label>
                        {{form.category}}

                    </div>
                    <div class="form-group col-4">
                        <label>Brands</label>
                        {{form.brand}}

                    </div>
                    </div>
            <div class="row">
                    <div class="form-group col-4">
                        <label>Product Image (370*270)</label>
                        <div class="custom-file">
<!--{{form.product_image.url}}-->
                            <input type="file" class="custom-file-input" id="id_product_image" name="product_image">
                            <label class="custom-file-label" for="id_product_image">Choose file</label>
                        {% if prodct.product_image %} <img src="{{prodct.product_image.url}}" width="25px" height="25px">{% else%}None{% endif%}
                          </div>
                    </div>
                <div class="form-group col-4 product-price">
                        <label for="price">Price</label>
                        {{form.price}}
<!--                        <input type="text" class="form-control" id="price" name="price">-->
                    </div>
                    <div class="form-group col-4 product-price">
                        <label for="priority">Product Priority</label>
                        {{form.product_priority}}
<!--                        <input type="text" class="form-control" id="priority" name="productpriority">-->
                    </div>

                <div class="form-group col-4">
                        <label>Product Thumbnail 1 (170*180)</label>
                        <div class="custom-file">
<!--{{form.product_image.url}}-->
                            <input type="file" class="custom-file-input" id="id_product_image1"  name="product_image1" >
                            <label class="custom-file-label" for="id_product_image1">Choose file</label>
                            {% if prodct.product_image1 %}<img src="{{prodct.product_image1.url}}" width="25px" height="25px">{% else%}None{% endif%}
                          </div>
                    </div>
                    <div class="form-group col-4">
                        <label>Product Thumbnail 2 (170*180)</label>
                        <div class="custom-file">
<!--{{form.product_image.url}}-->
                            <input type="file" class="custom-file-input" id="id_product_image2" name="product_image2" >
                            <label class="custom-file-label" for="id_product_image2">Choose file</label>
                           {% if prodct.product_image2 %} <img src="{{prodct.product_image2.url}}" width="25px" height="25px">{% else%}None{% endif%}
                          </div>
                    </div>
                    <div class="form-group col-4">
                        <label>Product Thumbnail 3 (170*180)</label>
                        <div class="custom-file">
<!--{{form.product_image.url}}-->
                            <input type="file" class="custom-file-input" id="id_product_image3"  name="product_image3" >
                            <label class="custom-file-label" for="id_product_image3">Choose file</label>
                            {% if prodct.product_image3 %}<img src="{{prodct.product_image3.url}}" width="25px" height="25px">{% else%}None{% endif%}
                          </div>
                    </div>
                        </div>
                        <div class="form-group row col-12">
                        <label>Product Main Image (505*584)</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="id_product_image4" name="product_image_main" >
                            <label class="custom-file-label" for="id_product_image4">Choose file</label>
                            {% if prodct.product_image_main %}<img src="{{prodct.product_image_main.url}}" width="25px" height="25px">{% else%}None{% endif%}
                          </div>
                    </div>
                
                

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Product Description</label>
                        {{form.product_description}}
<!--                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="productdescription"></textarea>-->
                      </div>
                      <div class="form-group">
                        <label for="details">Product Details</label>
                          {{form.product_details}}
<!--                        <input type="text" class="form-control" id="details" name="productdetails">-->
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="container table-container col-12">

                <h3>Table</h3>
                <div class="export-btn-group row">
                    <button type="button" class="btn btn-primary export-btn mb-2">Copy</button>
                    <button type="button" class="btn btn-primary export-btn mb-2">CSV</button>
                    <button type="button" class="btn btn-primary export-btn mb-2">EXCEL</button>
                    <button type="button" class="btn btn-primary export-btn mb-2">PDF</button>
                    <button type="button" class="btn btn-primary export-btn mb-2">PRINT</button>
                   <!--  <form class="table-search">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <span class="input-group-text table-Search-btn">Search</span>
                          </div>
                          <input type="text" class="form-control">
                        </div>
                      </form> -->
                </div>
                <div class="table-responsive">
                <table class="table boot-table" id="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Si No</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Brands</th>
                            <th scope="col">Product Image</th>
                            <th scope="col">Price</th>
                            <th scope="col">Product Description</th>
                            <th scope="col">Product Details</th>
                            <th scope="col">Product Priority</th>
                            <!-- <th scope="col">Edit</th>
                            <th scope="col">Delete</th> -->
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in query %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{x.product_name}}</td>
                            <td>{{x.category.category_name}}</td>
                            <td>{{x.brand.brand_name}}</td>
                            {% if x.product_image %}<td><img src="{{x.product_image.url}}" width="25px" height="25px">{% else%}None{% endif%}</td>
                            <td>{{x.price}}</td>
                            <td>{{x.product_description}}</td>
                            <td>{{x.product_details}}</td>
                            <td>{{x.product_priority}}</td>
                            <!-- <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td></i><i class="fa fa-trash" aria-hidden="true"></i></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                 <script>    
                $(document).ready(function(){
                    $("li.custom-menu a.products").addClass("active");
                    })
                </script>
                <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function() {
                  var fileName = $(this).val().split("\\").pop();
                  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
                </script>
                <script type="text/javascript">
                    $(document).ready( function () {
                    $('#table').DataTable();
                } );
                </script>
{% endblock %}
