<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/backend/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/backend/css/styles.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% block title %}
{% endblock %}

</head>

<body>
    <div class="wrapper collapse1">
        <div class="top_navbar">
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">Admin Panel</div>
                <ul>
                    <li><a class="nav-btn" href="#">
                            <i class="fas fa-search"></i></a></li>
                    <li><a class="nav-btn" href="#">
                            <i class="fas fa-bell"></i>
                        </a></li>
                    <li>
                        <div class="dropdown1">
                            <span class="dropbtn1 nav-btn"><i class="fas fa-user"></i></span>
                            <div class="dropdown-content1">
                                <a href="#">My Profile</a>
                                <a href="#">Settings</a>
                                <a href="/admin_logout/">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li class="custom-menu"><a href="/homepage/" class="home">
                        <span class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                        <span class="title">Dashboard</span></a></li>
                <li class="custom-menu"><a href="/user/" class="users">
                        <span class="icon"><i class="fas fa-user"></i></span>
                        <span class="title">User</span>
                    </a></li>
                <li class="custom-menu"><a href="/tender_reg/" class="brands">
                        <span class="icon"><i class="fa fa-building" aria-hidden="true"></i></i></span>
                        <span class="title">Tender</span>
                    </a></li>
                <li class="custom-menu"><a href="/news/" class="category">
                        <span class="icon"><i class="fa fa-tag" aria-hidden="true"></i></i></span>
                        <span class="title">News Lines</span>
                    </a></li>
                <li class="custom-menu"><a href="/career_reg/" class="products">
                        <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></i></span>
                        <span class="title">Career</span>
                    </a></li>
                <!-- <li class="custom-menu"><a href="#" class="gallery_type">
                        <span class="icon"><i class="fas fa-image" aria-hidden="true"></i></i></span>
                        <span class="title">Gallery Type</span>
                    </a></li> -->
                 <li class="custom-menu"><a href="/gallery/" class="gallery">
                        <span class="icon"><i class="far fa-images" aria-hidden="true"></i></i></span>
                        <span class="title">Gallery</span>
                    </a></li>                    
                <li class="custom-menu"><a href="/contactus/" class="contacts">
                        <span class="icon"><i class="fas fa-info" aria-hidden="true"></i></i></span>
                        <span class="title">Contact Us</span>
                    </a></li>
                <li class="custom-menu"><a href="/getprice/" class="getprice">
                        <span class="icon"><i class="fas fa-rupee-sign" aria-hidden="true"></i></i></i></span>
                        <span class="title">Get Price</span>
                    </a></li>
                <li class="custom-menu"><a href="/newsletter/" class="newsletter">
                        <span class="icon"><i class="fas fa-newspaper" aria-hidden="true"></i></i></i></span>
                        <span class="title">News Letter</span>
                    </a></li>
            </ul>
        </div>
        <div class="main_container">

            {% block content %}

            {% endblock %}

                </div>


            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="/static/backend/js/script.js"></script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<!-- Bootstrap Datatable js -->    
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

</body>

</html>