{% extends 'backend/base.html' %}
<!--{% load static %}-->
{% block title %}
<title>Admin Panel</title>{% endblock %}
{% block content %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb" style="justify-content: flex-end;">
                    <li class="breadcrumb-item"><a >Dashboard</a></li>
                </ol>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card" onclick="location.href='/user/';">
                            <div class="card-block text-center">
                                <h6 class="m-b-20">User</h6>
                                <h2><i class="fa fa-user "></i></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card" onclick="location.href='/brands/';">
                            <div class="card-block text-center">
                                <h6 class="m-b-20">Brand</h6>
                                <h2><i class="fa fa-building" aria-hidden="true"></i></i></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card" onclick="location.href='/category/';">
                            <div class="card-block text-center">
                                <h6 class="m-b-20">Category</h6>
                                <h2><i class="fa fa-tag" aria-hidden="true"></i></i></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card" onclick="location.href='/products/';">
                            <div class="card-block text-center">
                                <h6 class="m-b-20">Products</h6>
                                <h2><i class="fa fa-shopping-cart" aria-hidden="true"></i></i></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card" onclick="location.href='/gallery/';">
                            <div class="card-block text-center">
                                <h6 class="m-b-20">Gallery</h6>
                                <h2><i class="far fa-images" aria-hidden="true"></i></i></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card" onclick="location.href='/contactus/';">
                            <div class="card-block text-center">
                                <h6 class="m-b-20">Contact Us</h6>
                                <h2><i class="fas fa-info" aria-hidden="true"></i></i></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card" onclick="location.href='/getprice/';">
                            <div class="card-block text-center">
                                <h6 class="m-b-20">Get A Price</h6>
                                <h2><i class="fas fa-rupee-sign" aria-hidden="true"></i></i></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <div class="card bg-c-blue order-card" onclick="location.href='/newsletter/';">
                            <div class="card-block text-center">
                                <h6 class="m-b-20">News Letter</h6>
                                <h2><i class="fas fa-newspaper" aria-hidden="true"></i></i></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <script>    
                $(document).ready(function(){
                    $("li.custom-menu a.home").addClass("active");
                    })
                </script>
{% endblock %}
