{% extends 'frontend/header.html' %} 
{% block title %}
<title>gallery | Hanveev - Kerala State Handloom Development Corporation Ltd.</title>
<meta name="description" content="">
<meta name="keywords" content="Hanveev, Kerala State Handloom Development Corporation Ltd.,">

{% endblock %}
{% block content %}

        <!-- End Header top -->
<!-- <style>
    .img{
        object-fit: cover;
        width:252px;
        height:193px;
    }
</style> -->



        <section class="blog-area blog-area-two pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-lg-3 p-4-mb-4 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/gallery/2.jpg" alt="Blog">
                            </a>
                           
                        </div>
                    </div>


                       <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/gallery/5555.jpg"alt="Blog" style="object-fit: cover;" >
                            </a>
                           
                        </div>
                    </div>



                      <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/gallery/6.jpg" alt="Blog">
                            </a>
                           
                        </div>
                    </div>




                    <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/gallery/5.jpg" alt="Blog">
                            </a>
                           
                        </div>
                    </div>




                    <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/gallery/8.jpg" alt="Blog">
                            </a>
                           
                        </div>
                    </div>


                       <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/gallery/3.jpg" alt="Blog">
                            </a>
                           
                        </div>
                    </div>



                      <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/gallery/9.jpg" alt="Blog">
                            </a>
                           
                        </div>
                    </div>




                    <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item ">
                            <a href="#">
                                <img src="/static/frontend/img/gallery/2.jpg" alt="Blog">
                            </a>
                           
                        </div>
                    </div>

<!--                     <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/home-two/blog2.jpg" alt="Blog">
                            </a>
                            <span>21 Aug 2020</span>
                            <div class="blog-inner">
                                <h3>
                                    <a href="#">Robotics Engineering: 10 Trends Shaping The Industrial Robotics</a>
                                </h3>
                                <a class="blog-link" href="#">
                                    Read More
                                    <i class='bx bx-plus'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/home-two/blog3.jpg" alt="Blog">
                            </a>
                            <span>22 Aug 2020</span>
                            <div class="blog-inner">
                                <h3>
                                    <a href="#">Know How The US Cuts Labor Adoption Of Industrial Robots</a>
                                </h3>
                                <a class="blog-link" href="#">
                                    Read More
                                    <i class='bx bx-plus'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/home-two/blog4.jpg" alt="Blog">
                            </a>
                            <span>23 Aug 2020</span>
                            <div class="blog-inner">
                                <h3>
                                    <a href="#">Robots Are Being More Popular In The World</a>
                                </h3>
                                <a class="blog-link" href="#">
                                    Read More
                                    <i class='bx bx-plus'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/home-two/blog5.jpg" alt="Blog">
                            </a>
                            <span>24 Aug 2020</span>
                            <div class="blog-inner">
                                <h3>
                                    <a href="#">Nowadays All Countries Military Using Robot For Mission</a>
                                </h3>
                                <a class="blog-link" href="#">
                                    Read More
                                    <i class='bx bx-plus'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3 p-4">
                        <div class="blog-item">
                            <a href="#">
                                <img src="/static/frontend/img/home-two/blog6.jpg" alt="Blog">
                            </a>
                            <span>25 Aug 2020</span>
                            <div class="blog-inner">
                                <h3>
                                    <a href="#">How Does Robot Works Like A Man In The Society</a>
                                </h3>
                                <a class="blog-link" href="#">
                                    Read More
                                    <i class='bx bx-plus'></i>
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>



       {% endblock %}




