{% extends 'pages/base.html' %}
{% block title %}
 <title>User</title>{% endblock %}
{% block content %} {% load static %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb" style="justify-content: flex-end;">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Users</li>
                </ol>
            </nav>
            <div class="container input-container col-sm-8 col-12">
                <h3>User</h3>
                <form action="" method="POST" class="boot-form column">
                    {% csrf_token %}
                    {% if messages %}
                    <div class="col-lg-12 color03 ">
                        <!-- <ul class="messages align-content"> -->
                            {% for message in messages %}
                                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                            {% endfor %}
                        <!-- </ul> -->
                    </div>
                {% endif %}
                    <div class="row">
                        <div class="form-group col-6">
                        <label for="username">Username</label>
                            {{form.username}}
<!--                        <input type="text" class="form-control" id="username" name="username">-->
                    </div>
                    <div class="form-group col-6">
                        <label for="exampleInputEmail1">Email address</label>
                        {{form.email}}
<!--                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">-->
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        {{form.password}}
<!--                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">-->
                    </div>
                   <!--  <div class="form-group">
                        <label>Usertype</label>
                        <select class="form-control" name="usertype">
                            <option>Superuser</option>
                            <option>Admin</option>
                            <option>Manager</option>
                        </select>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="container table-container col-12">

                <h3>Table</h3>
                <div class="export-btn-group row">
                   <button type="button" class="btn btn-primary export-btn mb-2" id="copy_btn">Copy</button>
                    <button type="button" class="btn btn-primary export-btn mb-2 "id="gg">CSV</button>
                    <button type="button" class="btn btn-primary export-btn mb-2" onclick="tableToExcel('table', 'W3C Example Table')">EXCEL</button>
                    <button type="button" class="btn btn-primary export-btn mb-2" id="btnExport">PDF</button>
                    <button type="button" class="btn btn-primary export-btn mb-2" onclick="myApps.printTables()">PRINT</button>
                    <!-- <form class="table-search">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <span class="input-group-text table-Search-btn">Search</span>
                          </div>
                          <input type="text" class="form-control">
                        </div>
                      </form> -->
                </div>
                <div class="table-responsive" id="p">
                <table class="table boot-table" id="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Si No</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Usertype</th>
                            <!-- <th scope="col">Edit</th>
                            <th scope="col">Delete</th> -->
                        </tr>
                    </thead>
                    <tbody>
                    {%for user in query %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% if user.userType == 1 %}Superuser{% elif user.userType == 2 %}Admin{% else %}Manager{% endif %}</td>
                            <!-- <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td></i><i class="fa fa-trash" aria-hidden="true"></i></td> -->
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="11" class="text-center bg-warning">No Users  created</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                 <script>    
                $(document).ready(function(){
                    $("li.custom-menu a.users").addClass("active");
                    })
                </script>

                <script>
                var myApps = new function () {
                    this.printTables = function () {
                        var table = document.getElementById('table');
                        var win = window.open('', '', 'height=700,width=700');
                        win.document.write(table.outerHTML);
                        win.document.close();
                        win.print();
                        win.close();

                    }
                }
                </script>

    <script type="text/javascript">
        $("body").on("click", "#btnExport", function () {
            html2canvas($('#table')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("categorys-details.pdf");
                }
            });
        });
    </script>

    <script type="text/javascript">
                   function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename) {
    var csv = [];
    var rows = document.querySelectorAll("#table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.querySelector("#gg").addEventListener("click", function () {
    var html = document.querySelector("#table").outerHTML;
    export_table_to_csv(html, "categorys-details.csv");
});

                </script>
               

                <script type="text/javascript">
                     var tableToExcel = (function() {
                      var uri = 'data:application/vnd.ms-excel;base64,'
                        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
                        , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
                        , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
                      return function(table, name) {
                        if (!table.nodeType) table = document.getElementById(table)
                        var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
                        window.location.href = uri + base64(format(template, ctx))
                      }
                    })()
                </script>
               

                <script type="text/javascript">
                    var copyBtn = document.querySelector('#copy_btn');
copyBtn.addEventListener('click', function () {
  var urlField = document.querySelector('#table');
   
  // create a Range object
  var range = document.createRange();  
  // set the Node to select the "range"
  range.selectNode(urlField);
  // add the Range to the set of window selections
  window.getSelection().addRange(range);
   
  // execute 'copy', can't 'cut' in this case
  document.execCommand('copy');
}, false);
                </script>

                <script type="text/javascript">
                    $(document).ready( function () {
                    $('#table').DataTable();
                } );
                </script>

                
                      
{% endblock %}